div a {
    color: white;
}

div a:hover {
    opacity: 0.5;
    color: white;
    text-decoration: none;
}

/* .Navbar {
    text-align: center;
  } */
  
  /* .Logo img {
    animation: Navbar-logo-spin infinite 20s linear;
    height: 80px;
  }

  .size-image {
    width: 48px;
  }
  
  .Navbar {
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
  }
  
  .Navbar-title {
    font-size: 1.5em;
  }
  
  .Navbar-intro {
    font-size: large;
  }
  
  .Menu {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .Menu li {
    display: inline-block;
    padding-right: 10px;
  }

  .Menu li a {
      color: blanchedalmond;
      text-decoration: none;
  }
  .Menu li a:hover {
      color: white;
  }
  
  @keyframes Navbar-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  } */